# Bootcamp Engenheiro de Dados Cloud - IGTI - Módulo 1
### Jorge Luiz da Silva
#### Caso de uso - Delta Lake
Depois de realizar o processamento dos dados do ENEM 2020 e fazer a ingestão no lake no formato delta, vamos verificar o upsert realizado usando o time travel.

In [ ]:
import pyspark

In [ ]:
%%configure -f
{
    "conf": {
        "spark.jars.packages": "io.delta:delta-core_2.12:1.0.0", 
        "spark.sql.extensions": "io.delta.sql.DeltaSparkSessionExtension", 
        "spark.sql.catalog.spark_catalog": "org.apache.spark.sql.delta.catalog.DeltaCatalog"
    }
}

In [ ]:
inscricoes = [200001595656,200001421546,200001133210,200001199383,200001237802,
    200001782198,200001421548,200001595657,200001592264,200001592266,200001592265,200001475147,200001867756,200001133211,
    200001237803,200001493186,200001421547,200001493187,200001210202,200001421549,200001595658,200002037437,200001421550,
    200001595659,200001421551,200001237804,200001867757,200001184600,200001692704,200001867758,200002037438,200001595660,
    200001237805,200001705260,200001421552,200001867759,200001595661,200001042834,200001237806,200001595662,200001421553,
    200001475148,200001421554,200001493188,200002037439,200001421555,200001480442,200001493189,200001705261,200001421556]

In [ ]:
from delta.tables import *

In [ ]:
df_last = (
    spark
    .read
    .format("delta")
    .load("s3://datalake-jorge-igti-tf-producao-431738431676/staging-zone/enem/")
)

In [ ]:
(
    df_last
    .where(df_last.NU_INSCRICAO.isin(inscricoes))
    .select("NU_INSCRICAO", "CO_MUNICIPIO_ESC")
    .orderBy("NU_INSCRICAO")
    .show()
)

In [ ]:
df_anterior = (
    spark
    .read
    .format("delta")
    .option("versionAsOf", "0")
    .load("s3://datalake-jorge-igti-tf-producao-431738431676/staging-zone/enem/")
)

In [ ]:
(
    df_anterior
    .where(df_anterior.NU_INSCRICAO.isin(inscricoes))
    .select("NU_INSCRICAO", "CO_MUNICIPIO_ESC")
    .orderBy("NU_INSCRICAO")
    .show()
)

In [ ]:
spark.stop()